.graph {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 20px;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: section-appearing;
  animation-duration: 0.4s;
}

.graph__box {
  width: 80%;

  flex-basis: 700px;
  flex-grow: 0;
  flex-shrink: 1;

  padding: 20px;
  margin-top: 20px;
  box-sizing: border-box;

  background-color: var(--box);
  border-radius: 10px;
  box-shadow: 0px 5px 10px var(--light-shadow);

  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
  grid-gap: 1px;
}

.graph__vertex,
.graph__vertex--visited,
.graph__vertex--destination,
.graph__vertex--start,
.graph__vertex--path {
  background-color: var(--light-shadow);
  transition: all;
  transition-duration: 0.1s;
}

.graph__vertex--visited {
  background-color: var(--main);
}

.graph__vertex--blocked {
  background-color: black;
}

.graph__vertex--destination {
  background-color: yellow;
}
.graph__vertex--start {
  background-color: coral;
}
.graph__vertex--path {
  background-color: var(--accent);
}

.graph__buttons {
  width: 80%;
  flex-shrink: 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--box);
  border-radius: 10px;
  box-shadow: 0px 5px 10px var(--light-shadow);

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.graph__title {
  width: 200px;
  height: 60px;

  display: flex;
  justify-self: start;
  align-items: center;

  margin: 0 auto 0 20px;

  font-size: 25px;
  font-weight: bold;
  color: var(--dark-shadow);
}

.graph__button {
  flex-basis: 100px;
  height: 60px;
  background-color: var(--main);
  border: 0;
  border-radius: 5px;
  margin: 0 5px;
  box-shadow: 0px 2px 3px var(--mid-shadow);

  color: white;
  font-size: 20px;
  font-weight: bold;

  transition: all;
  transition-duration: 0.2s;

  cursor: pointer;
}

.graph__dropdown {
  max-width: 200px;
  flex-basis: 100px;
  flex-grow: 1;
  margin: 0 5px;
}

.graph__button:hover {
  background-color: var(--main-hover);
}

.graph__button:active {
  background-color: var(--main-active);
  box-shadow: 0px 0px 0px var(--mid-shadow);
}

@media (max-width: 800px) {
  .graph {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .graph__box {
    flex-grow: 0;
    flex-shrink: 1;

    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
  }

  .graph__buttons {
    width: 100%;
    height: 120px;
    padding: 10px;
    border-radius: 10px;
    flex-wrap: wrap;

    justify-content: center;
  }

  .graph__title {
    width: 100%;
    margin: 0;
    height: 40px;
    flex: 0, 0, 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  .graph__button {
    height: 50px;
    padding: 0 5px;
    font-size: 15px;
    margin: 0 5px;
  }

  .graph__dropdown {
    height: 50px;
    padding: 0 15px;
    flex-basis: 100px;
    margin: 0 5px;
    font-size: 15px;
  }

  .bar {
    border-radius: 1px;
  }
}
