.menu {
  background-color: var(--box);
  width: 100%;
  box-shadow: 0px 5px 10px var(--light-shadow);

  flex-basis: 70px;
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.menu__section {
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 0 20px;

  color: var(--dark-shadow);
}

.menu__dropdown {
  height: 40px;
}
