.vertex,
.vertex--visited,
.vertex--destination,
.vertex--start,
.vertex--path {
  background-color: var(--light-shadow);
  transition: all;
  transition-duration: 0.1s;
}

.vertex--visited {
  background-color: var(--main);
}

.vertex--blocked {
  background-color: var(--graph-blocked);
}

.vertex--destination {
  background-color: var(--graph-finish);
}
.vertex--start {
  background-color: var(--graph-start);
}
.vertex--path {
  background-color: var(--graph-path);
}
